@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}

.card_img{
    width: 100%;
    border-radius: 1rem;
}

body{
    /*Háttér*/
    /*www.joshwcomeau.com/gradient-generator*/
    background-image: linear-gradient(
        270deg,
        hsl(0deg 100% 8%) 0%,
        hsl(0deg 100% 4%) 22%,
        hsl(0deg 100% 1%) 33%,
        hsl(0deg 90% 12%) 42%,
        hsl(0deg 81% 23%) 50%,
        hsl(0deg 80% 12%) 58%,
        hsl(0deg 0% 0%) 67%,
        hsl(0deg 100% 4%) 78%,
        hsl(0deg 100% 8%) 100%
  );
  /*Betűtipus*/
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}

header{
    background: #000;
    height: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* mindig felül lesz */
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10rem;
}

nav ul li{
    list-style: none;
    padding: .3rem;
}

.nav_text{
    text-decoration: none;
    color: #fff;
    letter-spacing: 1rem;
}

/*--------------------------MAIN---------------------------*/

main{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.card{
    width: 25rem;
    padding: 5px;
    background: rgba(175, 172, 172, 0.158);
    backdrop-filter: blur(12px);
    border-radius: 1rem;
    border: solid .5px #0151ff;
    box-shadow: 0 0 10px #0151ff;
    margin: 3rem 0;
}

.card_body{
    color: #fff;
    padding: 1rem;
}

hr {
  border: none;
  height: 2px;
  background: red;
  box-shadow: 0 0 10px red;
}

.track_info{
    display: flex;
    gap: 1rem;
}

h3{
    margin: 1rem 0;
}

.preview-btn {
    margin: 1rem;
    background: #111;
    color: white;
    padding: 8px 14px;
    border: 1px solid #444;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.preview-btn:hover {
  background: #222;
  border-color: #666;
}

/*--------------------------FOOTER---------------------------*/

footer{
    background-color: #000;
    color: #fff;
}

@media (max-width: 400px) {
    main{
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    nav ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 1rem;
    }

    #card1{
        margin-top: 25rem;
    }

    .card{
        width: 20rem;
        padding: 5px;
        background: rgba(175, 172, 172, 0.158);
        backdrop-filter: blur(12px);
        border-radius: 1rem;
        border: solid .5px #0151ff;
        box-shadow: 0 0 10px #0151ff;
        margin: 3rem 0;
    }

    header{
        background: #000;
        height: 15rem;
        width: 100%;
    }

}